body {
    background-image: url(img.jpg);
    /* background-color: #FF80AB !important; */
}

.main{
    width: 40%;
    min-height: 600px;
    /* background-color: #304FFE; */
    background-image: url(img1.jpg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
.entry{
    margin-top: 20px;
    text-align: center;
}
.heading{
    text-align: center;
}

@media only screen and (max-width: 616px) {
    .main {
        width: 80%;
    }
  }